<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
  
</head>
<body>
  <div class="container">
    <h1>Bienvenido </h1>
    <p>Correo electrónico: <%= locals.correo %></p>
    <p>Contraseña: <%= locals.contra %></p>
  </div>


</body>
</html>
